*{box-sizing: border-box;}
body{margin:0; padding:0; background:lightgray; color: white;}
.row{width:100%; display:flex; flex-direction:row; }
.row:after{content="";}
.col{display:flex; flex-direction:column;}
.mainMenu{}
.hd{position:absolute; top:0; }
.ft{position:absolute; bottom:0;}
.hd, .ft, .ct{border:solid; margin:2px;}
p{color:blue;}
