*{box-sizing: border-box;}
body{margin:0; padding:0; background:lightgray; color: white;}
.row{width:100%; display:flex; flex-direction:row; }
.row:after{content="";}
.col{display:flex; flex-direction:column;}
.mainMenu{}
